body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navigation {
    color: #fff;
    background-color: #0390fc;
    padding: 1px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.content {
    margin: 100px auto;
    width: 400px;
    padding: 10px;
    
}


form input {
    width: 400px;
    height: 25px;
    outline: none;
    margin-bottom: 1rem;
    border:2px solid #0390fc;
    border-radius: 4px;
    color: #0390fc;
}

form textarea {
    width: 400px;
    outline: none;
    border: 2px solid #0390fc;
    border-radius: 4px;
    color: #0390fc;
}

label {
    display: block;
    color: #0390fc;
    
}

a {
    text-decoration: none;
    display: inline-block;
}

.btn-custom1 {
    background-color: #0362fc;
    color: #fff;   
    width: 70px;
    height: 30px;
    border: #0362fc;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    font-size: 14px; 
    outline: none;
}

.btn-custom1:hover {
    background-color: #034afc;
}

.btn-custom2 {
    background-color: #e02b3d;
    color: #fff;
    width: 70px;
    height: 30px;
    border: #e02b3d;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    outline: none;
}

.btn-custom2:hover {
    background-color: #cf2334;
}
