body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navigation {
    color: #fff;
    background-color: #0390fc;
    padding: 1px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.content {
    margin-top: 100px;
}

.search {
    text-align: center;
}

.set-search {
    width: 250px;
    height: 25px;  
    outline: none; 
    border: 2px solid #0390fc;
    border-radius: 4px;
    color: #0390fc;
}

.btn-custom1 {
    color: #fff;
    background-color: #138f3a;
    border: #138f3a;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    outline: none;
}

.btn-custom1:hover {
    background-color: #207534;
}

.btn-custom2 {
    background-color: #ebc934;
    border: #ebc934;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    margin-bottom: 2px;
    outline: none;
    color: #272c33;
}

.btn-custom2:hover {
    background-color: #d6b522;
}

.btn-custom3 {
    color: #fff;
    background-color: #e02b3d;
    border: #e02b3d;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    outline: none;
}

.btn-custom3:hover {
    background-color: #cf2334;
}

.btn-custom4 {
    color: #fff;
    background-color: #0362fc;
    border: #0362fc;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    margin-top: 15px;
    line-height: 30px;
    text-align: center;
    outline: none;
}

span a {
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.btn-custom4:hover {
    background-color: #034afc;
}
.table-content {
    margin: 20px auto;
    width: 850px;
    padding: 10px;
}

.table {
    border-collapse: collapse;
}

th {
    background-color: #0390fc;
    border: #0390fc;
    color: #fff;
}

.table, th, td {
    border: 1px solid #3440eb;
    padding: 8px 20px;
}

.table td {
    color: #0362fc;
}

.pagination {
    margin-top: 15px;
}

.pagination a {
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px;
    outline: none;
    color: #0362fc;
}

.pagination a.active {
    background-color: #0362fc;
    color: #fff;
}
