body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4f5;
}

* {
    box-sizing: border-box;
}

.navigation {
    color: #fff;
    background-color: #0390fc;
    padding: 1px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.content {
    margin: 100px auto;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    font-weight: lighter;
}

.content h3 {
    color: #444;
    font-weight: lighter;
    text-align: center;
}

form {
    text-align: center;
}


form input {
    width: 400px;
    height: 27px;
    outline: none;
    margin-bottom: 1rem;
    border:none;
    border-bottom: 2px solid #0390fc;
    color: #444;
}

form textarea {
    width: 400px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0390fc;
    border-radius: 4px;
    color: #444;
}

label {
    display: block;
    color: #444;
    text-align: left;
    padding-left: 7%;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.btn-custom1 {
    background-color: #ebc934;
    color: #444;   
    width: 70px;
    height: 30px;
    border: #ebc934;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    font-size: 14px; 
    outline: none;
}

.btn-custom1:hover {
    background-color: #d6b522;
}

.btn-custom2 {
    background-color: #e02b3d;
    color: #fff;
    width: 70px;
    height: 30px;
    border: #e02b3d;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    outline: none;
}

.btn-custom2:hover {
    background-color: #cf2334;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #0390fc;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}